{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Realtime Chat App | CodingNepal</title>
  <link rel="stylesheet" href="{% static "account/css/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
  <div class="wrapper">
    <section class="chat-area">
      <header>
        <a href="{% url "index" %}" class="back-icon"><i class="fas fa-arrow-left"></i></a>
        <img src="{{ room_icon }}" alt="">
        <div class="details">
          <span>{{room_name}}</span>
          <p>Online Now</p>
        </div>
      </header>


      <div class="chat-box" id="messages"></div>


      <form action="" class="typing-area" id="messageForm">
        <input type="text" name="content" class="input-field" placeholder="Type a message here..." autocomplete="off">
        <input type="submit" class="button" value="Send">
      </form>
    </section>
  </div>


  <script src="{% static "chat/js/jquery-3.6.4.min.js" %}"></script>

  <script>
    $(document).ready(function () {
      var currentUser = '{{ request.user.username }}';
      var roomId = "{{ room_id }}";

      function getMessages() {
        $.ajax({
          type: 'GET',
          url: '/get_messages/' + roomId + '/',
          success: function (data) {
            if (data && data.messages.length > 0) {
              $('#messages').empty();
              for (var i = data.messages.length - 1; i >= 0; i--) {
                var messageClass = data.messages[i].sender === currentUser ? 'outgoing' : 'incoming';
                var messageContent = data.messages[i].sender === currentUser ? data.messages[i].content : data.messages[i].content;
                $('#messages').append('<div class="chat '+ messageClass +'"><div class="details"><p>' + messageContent + '</p></div></div>');
              }
            } else {
              console.log('No messages received or invalid data format.');
            }
          },
          error: function (xhr, status, error) {
            console.error('Error:', status, error);
          }
        });
      }
      getMessages();

      // Submit message form
      $('#messageForm').submit(function (e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/save_message/' + roomId + '/',
          data: $('#messageForm').serialize(),
          success: function (data) {
            var messageClass = 'sent';
            $('#messages').append('<div class="chat '+ messageClass +'"><div class="details"><p>' + data.content + '</p></div></div>');
            $('#messageForm')[0].reset();
          },
          error: function (data) {
            console.log('Error:', data);
          }
        });
      });
      setInterval(getMessages, 1000);
    });
  </script>

<script>
  $(document).ready(function() {
    $('.navbar-toggler').click(function() {
       $('.nav-right').toggle();
    });
   });
</script>

</body>

</html>