{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ room_name }}</title>
  <link rel="stylesheet" href="{% static "account/css/style.css" %}">
  <link rel="shortcut icon" href="{{room_icon}}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <section class="chat-area">
      <header>
        <a href="{% url "index" %}" class="back-icon"><i class="fas fa-arrow-left"></i></a>
        <img src="{{ room_icon }}" alt="">
        <div class="details">
          <span>{{room_name}}</span>
          <p>Online Now</p>
        </div>
      </header>


      <div class="chat-box" id="messages"></div>


      <form action="" class="typing-area" id="messageForm">
        <input type="text" name="content" class="input-field" placeholder="Type a message here..." autocomplete="off">
        <input type="submit" class="button" value="Send">
      </form>
    </section>
  </div>


  <!-- 
    
    <div class="modal-body" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <h2 class="fs-5">Popover in a modal</h2>
    <p>This <button class="btn btn-secondary" data-bs-toggle="popover" title="Popover title" data-bs-content="Popover body content is set in this attribute.">button</button> triggers a popover on click.</p>
    <hr>
    <h2 class="fs-5">Tooltips in a modal</h2>
    <p><a href="#" data-bs-toggle="tooltip" title="Tooltip">This link</a> and <a href="#" data-bs-toggle="tooltip" title="Tooltip">that link</a> have tooltips on hover.</p>
  </div>

-->


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="background-color: #f7f7f7;width:61%;margin-left:70px">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Options</h5> <button type="button" class="btn-close"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <center>
        <div class="modal-body">
          <center>
            <p><button class="btn btn-secondary" data-bs-toggle="popover" title="Popover title" data-bs-content="Popover body content is set in this attribute.">Edit</button></p>
            <p><button class="btn btn-secondary" data-bs-toggle="popover" title="Popover title" data-bs-content="Popover body content is set in this attribute.">Edit</button></p>
            <!-- <p><button class="btn btn-secondary" data-bs-toggle="popover" title="Popover title" data-bs-content="Popover body content is set in this attribute.">Edit</button></p> -->
  </center>
        </div>
      </center>
        <div class="modal-footer"> 
          <center>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
        </center>
      </div>
    </div>
  </div>

  <script src="{% static "chat/js/jquery-3.6.4.min.js" %}"></script>


  <script>
    $(document).ready(function () {
      var currentUser = '{{ request.user.username }}';
      var roomId = "{{ room_id }}";

      function getMessages() {
        $.ajax({
          type: 'GET',
          url: '/get_messages/' + roomId + '/',
          success: function (data) {
            if (data && data.messages.length > 0) {
              $('#messages').empty();
              for (var i = data.messages.length - 1; i >= 0; i--) {
                var messageClass = data.messages[i].sender === currentUser ? 'outgoing' : 'incoming';
                var messageContent = data.messages[i].sender === currentUser ? data.messages[i].content : data.messages[i].content;
                var messageOptions = '<pre>  </pre><div class="message-options"><i class="fas fa-ellipsis-v" data-bs-toggle="modal"data-bs-target="#exampleModal"></i></div><pre>   </pre>';

                // Adjust the HTML structure based on the sender
                if (data.messages[i].sender === currentUser) {
                  $('#messages').append('<div data-bs-toggle="modal"data-bs-target="#exampleModal" class="chat ' + messageClass + '">' +
                    '<div class="details">' +
                    messageOptions +
                    '<p>' + messageContent + '</p>' +
                    '</div>' +
                    '</div>' +
                    '</div>');
                } else {
                  $('#messages').append('<div data-bs-toggle="modal"data-bs-target="#exampleModal" class="chat ' + messageClass + '">' +
                    '<div class="details">' +
                    '<p>' + messageContent + '</p>' +
                    messageOptions +
                    '</div>' +
                    '</div>');
                }
              }
            } else {
              console.log('No messages received or invalid data format.');
            }
          },
          error: function (xhr, status, error) {
            console.error('Error:', status, error);
          }
        });
      }

      getMessages();



      // Submit message form
      $('#messageForm').submit(function (e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/save_message/' + roomId + '/',
          data: $('#messageForm').serialize(),
          success: function (data) {
            var messageClass = 'sent';
            var messageOptions = '<div class="message-options"><i class="fas fa-ellipsis-v"></i></div>';

            // Append the sent message with options to the #messages container
            $('#messages').append('<div class="chat ' + messageClass + '">' +
              '<div class="details">' +
              '<p>' + data.content + '</p>' +
              messageOptions +
              '</div>' +
              '</div>');
            $('#messageForm')[0].reset();
          },
          error: function (data) {
            console.log('Error:', data);
          }
        });
      });

      setInterval(getMessages, 1000);



    });



  </script>







</body>

</html>