{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zenchat - Realtime Chat App</title>
  <link rel="stylesheet" href="{% static "account/css/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
  <div class="wrapper">
    <section class="users">
      <header>
        <div class="content">
          <img src="{{ user_profile_pic }}" alt="">
          <div class="details">
            <span>{{request.user}}<span>
            <p>
              <?php echo $row['status']; ?>
            </p>
          </div>
        </div>
        <a href="{% url "logout" %}" class="logout">Logout</a>
      </header>
      <div class="search">
        <span class="text">Select an user to start chat</span>
        <input type="text" placeholder="Enter name to search...">
        <button><i class="fas fa-search"></i></button>
      </div>
      <div class="users-list">
        {% for room in rooms %}
        <a href="{% url "chat_room" room.id %}">
          <div class="content">
            <img src="media/{{ room.room_icon }}" alt="Room Icon">
            <div class="details">
              <span>{{ room.name }}</span>
              <p></p>
            </div>
          </div>
          <!-- <div class="status-dot '. $offline .'"><i class="fas fa-circle"></i></div> -->
        </a>
        {% endfor %}
      </div>
    </section>
  </div>


  <script>
    const searchBar = document.querySelector(".search input"),
searchIcon = document.querySelector(".search button"),
usersList = document.querySelector(".users-list");

searchIcon.onclick = ()=>{
  searchBar.classList.toggle("show");
  searchIcon.classList.toggle("active");
  searchBar.focus();
  if(searchBar.classList.contains("active")){
    searchBar.value = "";
    searchBar.classList.remove("active");
  }
}
  </script>
  


</body>

</html>